@page
@model ASP_NET_03._Razor_pages_Product_site.Pages.ProductsModel

@if(Model.Products.Any()){
    <h3>Products</h3>
    @foreach (var product in Model.Products.ToList()){
        <p>
            <a href="products/productId/@product.Id">@product.Name</a>
        </p>
    }
}

